<!DOCTYPE html>
<html>
<head>
  <title>奇异果</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="topbar">
    <div class="container">
      <nav>
        <%= link_to "新西兰奇异果", "/home", id: "logo" %>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <%= link_to image_tag("bl_aisles_strip_h.jpg", alt: "...", class: "top-strip"), 'http://rubyonrails.org/' %>
  <%= render 'navbar' %>
</div>
<div id="wrapper" class="container">
  <div id="sidebar" class="col-md-2">
    <h4>The Home of:</h4>
    <ul>
      <li>
        Kiwi Berry Organics Co.
      </li>
      <li>
        Kiwi Berry Direct
      </li>
      <li>
        Kiwi Korners Farm
      </li>
    </ul>
  </div>
  <div id="content" class="col-md-10">
    <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>