<!DOCTYPE html>
<html>
<head>
  <title>奇异果</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="topbar">
    <div class="container">
      <nav>
        <%= link_to "新西兰奇异果", "/home", id: "logo" %>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <%= link_to image_tag("bl_aisles_strip_h.jpg", alt: "...", class: "top-strip"), 'http://rubyonrails.org/' %>
  <%= render 'navbar' %>
</div>
<div id="wrapper" class="container">
  <div id="sidebar" class="col-md-2">
    <h5>公司</h5>
    <ul>
      <li>
        <a href="/kbo_co">公司介绍</a>
      </li>
      <li>
        <a href="kiwi_korners">我们的农场</a>
      </li>
    </ul>
    <h5>直送服务</h5>
    <ul>
      <li>我们的
        <a href="/kiwi_berry_direct">直送服务</a>可以把奇异果直接送到你的家门口</li>
    </ul>
    <h5>接受通知</h5>
    <ul>
      <li>在
        <a href="/contact">联系我们</a>
        页面注册直送服务，我们将在奇异果成熟的时候通知您如何订购
      </li>
    </ul>
  </div>
  <div id="content" class="col-md-10">
    <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>